version: '3'
services:
  train:
    image: petteriteikari/minivess-mlops-train:latest
    container_name: petteriteikari/minivess-mlops-train
    build:
      dockerfile: ./deployment/Dockerfile
      context: ./..
    environment:
      - AWS_PROFILE=default
    volumes:
      - ~/.aws:/home/minivessuser/.aws:ro
      - ~/minivess-dvc-cache:/mnt/minivess-dvc-cache
      - ~/minivess-artifacts:/mnt/minivess-artifacts
    ports:
      - "8088:8088"
volumes:
  aws:
  minivess-dvc-cache:
  minivess-artifacts:
